.Message {
	border-radius:10px;
	padding:5px;
	background-color: #aaaaaa;
}

/*Conjuncture card style */
.Conjuncture {
	border-radius:10px;
	padding:5px;
	background-color: #ffee00;
}

.Box {
	background-repeat: no-repeat;
	background-position: center;
}

#btnDice {
	background-color: #aaffbb;
}
/* Conjuncture boarad boxes background images */
#1,#8,#27 {
	background-image: url("boxes/conjuncture.png");
	
}

